# https://github.com/github/gitignore/blob/main/Go.gitignore
# Build output
/bin/
module.tar.gz

# Test binary, built with `go test -c`
*.test

# Output of `go tool cover`
*.out

# Go workspace file
go.work
go.work.sum

# Editor / OS
.DS_Store
